<form class="search-box" role="search" onsubmit="return false;">
  <label for="page-search">Search this page</label>
  <div class="search-box__control">
    {% include icon.html icon="fa-solid fa-magnifying-glass" %}
    <input
      id="page-search"
      type="search"
      autocomplete="off"
      placeholder="Search"
      oninput="onSearchInput(this)"
    >
    <button type="button" aria-label="Clear search" onclick="onSearchClear()" disabled>
      {% include icon.html icon="fa-solid fa-magnifying-glass" %}
    </button>
  </div>
</form>
